body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #0005;
    background-blend-mode: darken;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100%;
}

.box {
    height: 20vh;
}

.hidden {
    display: none;
}

#clock {
    font-weight: bolder;
    font-size: 3rem;
    padding: 1rem;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form button {
    background-color: transparent;
    border: solid 2px rgba(245, 245, 245, 0.584);
    border-radius: 5rem;
    padding: 0.5rem;
    color: rgba(245, 245, 245, 0.584);
}

input {
    border: none;
    background-color: transparent;
    border-bottom: solid 1px rgba(245, 245, 245, 0.584);
    width: 20rem;
    height: 2.5rem;
    color: whitesmoke;
    text-align: center;
    font-size: 1.1rem;
}

input:focus {
    outline:none;
}

input::placeholder {
    color: rgba(245, 245, 245, 0.584);
    font-size: 1rem;
}

#quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    border: double 2px rgba(245, 245, 245, 0.8);
    color: rgba(245, 245, 245, 0.8);
}

#quote-line {
    font-size: 1.2rem;
}